<div id="u_plane" style="display:none;">
    <form action="/process_data/u_plane" method="post">
        <!-- 額外的資訊 -->
        <p>請輸入 u_plane 相關資訊：</p>
        <label for="protocol_evision">protocol_evision：</label>
        <input type="text" name="protocol_evision">
        <br>
        <label for="reserved_1">reserved_1：</label>
        <input type="text" name="reserved_1">
        <br>
        <label for="c_bit">c_bit：</label>
        <input type="text" name="c_bit">
        <br>
        <label for="message_type">message_type：</label>
        <input type="text" name="message_type">
        <br>
        <label for="payload_size">payload_size：</label>
        <input type="text" name="payload_size">
        <br>
        <label for="ecpriRtcid">ecpriRtcid：</label>
        <input type="text" name="ecpriRtcid">
        <br>
        <label for="ecpriSeqid">ecpriSeqid：</label>
        <input type="text" name="ecpriSeqid">
        <br>
        <label for="dataDirection">dataDirection：</label>
        <input type="text" name="dataDirection">
        <br>
        <label for="payloadVersion">payloadVersion：</label>
        <input type="text" name="payloadVersion">
        <br>
        <label for="filterIndex">filterIndex：</label>
        <input type="text" name="filterIndex">
        <br>
        <label for="frameId">frameId：</label>
        <input type="text" name="frameId" value="3" readonly>
        <br>
        <label for="subframeId">subframeId：</label>
        <input type="text" name="subframeId">
        <br>
        <label for="slotId">slotId：</label>
        <input type="text" name="slotId">
        <br>
        <label for="symbolid">symbolid：</label>
        <input type="text" name="symbolid">
        <br>
        <label for="sectionId">sectionId：</label>
        <input type="text" name="sectionId">
        <br>
        <label for="rb">rb：</label>
        <input type="text" name="rb">
        <br>
        <label for="symInc">symInc：</label>
        <input type="text" name="symInc">
        <br>
        <label for="startPrbc">startPrbc：</label>
        <input type="text" name="startPrbc">
        <br>
        <label for="numPrbu">numPrbu：</label>
        <input type="text" name="numPrbu">
        <br>
        <label for="udCompHdr">udCompHdr：</label>
        <input type="text" name="udCompHdr">
        <br>
        <label for="reserved">reserved：</label>
        <input type="text" name="reserved">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="udCompParam">udCompParam：</label>
        <input type="text" name="udCompParam">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="iSample">iSample：</label>
        <input type="text" name="iSample">
        <br>
        <label for="qSample">qSample：</label>
        <input type="text" name="qSample">
        <br>
        <label for="speed">Select Speed:</label>
        <select name="speed" id="speed">
        <option value="10"M>10M</option>
        <option value="100"M>100M</option>
        <option value="1000"M>1000M</option>
    </select>

        <button type="submit">Send Packets</button>
    </form>
</div>